//INPUT Configs

database=mysql
username=root
password=gokul
url=jdbc:mysql://localhost:3306/demo
tables=view_sris_t_mtr_item_mgr_1
orderByColumn=item_id
batchSize=50
columns=serial_iccid,cluster_id_item,region_id_item,activation_date
startingRecord=0
endingRecord=1000
(set 0 for no limit)

//OUTPUT Configs
outputMode=CUSTOMQUERY
(CSV,DB,CUSTOMQUERY,CUSTOM)
csvDelimiter=|
outputPath=output.csv

targetUserName=root
targetPassword=gokul
targetUrl=jdbc:mysql://localhost:3306/demo?user=root
tragetTable=sts_t_mtr_item
outputBatchSize=10000
outputColumns=srisTarget
(srisSource,stsSource,srisTarget,stsTarget)
customQuery=SET GLOBAL local_infile=1;&LOAD DATA LOCAL INFILE 'C:\\Users\\gokul\\Desktop\\itemTable.csv' INTO TABLE sts_t_mtr_item FIELDS TERMINATED BY '|' LINES TERMINATED BY '\n';

//Lookup Configs
lookUp=INMEMORY2
(INMEMORY,H2)
lookUpTable=view_item_box_no_mtr
lookUpColumn=box_no
lookUpTable2=view_item_do_no_mtr
lookUpColumn2=200154927307




Mysql pass=snd@6Dtech
mysql url =jdbc:mysql://localhost:3308/inventory_11_jun

POSTGRE password=M1gr4710n_2020
POSTGRE url=jdbc:postgresql://localhost:2346/smartfren