//SOURCE DETAILS

url=jdbc:postgresql://192.168.56.101:5432/stsdb
username=stsdb
password=stsdb

//SCRIPT PROPERTIES

tables=t_mtr_distributor,t_mtr_item,t_mtr_item_category,t_mtr_territory_type,t_mtr_territory,t_mtr_warehouse,t_mtr_item_extra,t_mtr_item_group,t_mtr_item_package,t_mtr_item_paket,t_mtr_user_group,t_mtr_user,t_mtr_handset,t_grid_outlet,t_mtr_acivation,t_mtr_distributor_type,t_mtr_outlet,t_mtr_request_change_mdn,t_mtr_sell_event,t_trx_sales_order
t_mtr_client,t_mtr_item_blacklist,t_mtr_item_detail_discount,t_mtr_region,t_mtr_cluster,t_mtr_province,t_mtr_partner,t_mtr_item_dispute,t_mtr_user_group,t_mtr_user,t_mtr_item_dispute_argument,t_mtr_item_fsp_fm,t_mtr_item_group,t_mtr_item_mapping
t_mtr_distributor,t_mtr_item,t_mtr_item_category,t_mtr_territory_type,t_mtr_territory,t_mtr_warehouse,t_mtr_item_extra,t_mtr_item_group,t_mtr_item_package,t_mtr_item_paket,t_mtr_user_group,t_mtr_user,t_mtr_handset,t_grid_outlet,t_mtr_acivation,t_mtr_distributor_type,t_mtr_outlet,t_mtr_request_change_mdn,t_mtr_sell_event,t_trx_sales_order
schemas=public
appenddbName=
autoIncrement=false
avoidColumns=created_by,created_on,updated_by,updated_on
includeForeignKeys=false

//VIEWS AND TABLES
createFor=source


//DESTINATION DETAILS

writeToFile=true
filepath=output\\sts
applyToDb=false